@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src:
    local("Gilroy"),
    local("Gilroy-Regular"),
    url(../font/gilroy-regular.woff) format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src:
    local("Gilroy Bold"),
    local("Gilroy-Bold"),
    url(../font/gilroy-bold.woff) format("woff");
}
