@font-face {
  font-family: "BasierCircle";
  font-style: normal;
  font-weight: 1 449;
  src:
    local("BasierCircle"),
    local("BasierCircle-Regular"),
    url(../font/basiercircle-regular.woff) format("woff");
}

@font-face {
  font-family: "BasierCircle";
  font-style: normal;
  font-weight: 450 499;
  src:
    local("BasierCircle Medium"),
    local("BasierCircle-Medium"),
    url(../font/basiercircle-medium.woff) format("woff");
}

@font-face {
  font-family: "BasierCircle";
  font-style: normal;
  font-weight: 500 900;
  src:
    local("BasierCircle Bold"),
    local("BasierCircle-Bold"),
    url(../font/basiercircle-bold.woff) format("woff");
}
