@font-face {
  font-family: 'Fira Code';
  src: 
    local("FiraCode Medium"),
    local("FiraCode-Medium"),
    url("../font/FiraCode-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}