# linguist override file
# Github uses linguist to detect the languages used in a repo for statistical purposes and to show on the repo's home page.
# OnlyDust links to this info for the project's stats.
# This file should make AsciiDoc visible to linguist, so that ultimately OnlyDust will show it.
# List of supported languages includes AsciiDoc: https://github.com/github-linguist/linguist/blob/master/lib/linguist/languages.yml
# See: https://github.com/github-linguist/linguist/blob/master/docs/overrides.md#detectable
#

# Detect .adoc and .yml files
*.adoc linguist-detectable
*.yml linguist-detectable

