site:
  title: Starknet documentation
  url: https://docs.starknet.io/
  start_page: documentation::index.adoc
  keys:
    google_analytics: 'G-WY42TERK5P'
urls:
  html_extension_style: indexify

content:
  sources:
    - url: .
      branches: HEAD
      edit_url: 'https://github.com/starknet-io/starknet-docs/edit/master/{path}'
      start_paths:
        - components/Starknet
    - url: https://github.com/starknet-io/docs-common-content.git
      branches: HEAD
      edit_url: 'https://github.com/starknet-io/docs-common-content/edit/main/{path}'

ui:
  bundle:
    url: https://github.com/starknet-io/starknet-docs-antora-ui/raw/add_version_header/build/ui-bundle.zip
#    url: https://github.com/starknet-io/starknet-docs-antora-ui/raw/HEAD/build/ui-bundle.zip
    #    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/HEAD/raw/build/ui-bundle.zip?job=bundle-stable
    #    url: ./ui/ui-bundle.zip
    snapshot: true

runtime:
  fetch: true

asciidoc:
  extensions:
    - '@asciidoctor/tabs'
  attributes:
    idprefix: ''
    #stem: '@'
    stem: 'latexmath'
    page-pagination: ''
    experimental: ''
    # These attributes define the version footer, located in the starknet-docs-antora-ui project,
    # In /src/partials/, in the files footer-content.hbs and starknet_version.hbs.
    starknet_mainnet_version: 'Mainnet: 0.12.2'
    starknet_testnet_version: 'Sepolia testnet: 0.12.3 | Goerli testnet: 0.12.3'
    page-starknet_version: '{starknet_mainnet_version} | {starknet_testnet_version}'


antora:
  extensions:
    - require: './lunr-tokenizer'
    - require: '@antora/lunr-extension'
      index_latest_only: true

output:
  destinations:
    - provider: fs
      path: ./public_html/
      clean: true
