site:
  title: StarkNet Documentation
  url: https://docs.starknet.io
  start_page: ROOT::index.adoc
  keys:
    #google_analytics: 'UA-85043059-1'
content:
  sources:
    - url: .
      branches:
        - 'HEAD'
      start_paths:
        - components/StarkNet
    #- url: <Hello_StarkNet_Repo>
    #  branches:
    #   - 'HEAD'
ui:
  bundle:
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/HEAD/raw/build/ui-bundle.zip?job=bundle-stable
#    url: ./ui/default_antora
    snapshot: true
  supplemental_files: ./ui/supplemental_ui
asciidoc:
  attributes:
    idprefix: ''
    stem: '@'
antora:
  extensions:
    # Installing the lunr-extension requires installing it, and including the following line in your playbook.yml file.
    # For info on installing the lunr-extension, see https://gitlab.com/antora/antora-lunr-extension#user-content-ui-assumptions.
    # The lunr-tokenizer enables search results that include strings within code samples.
    # For example, without the lunr-tokenizer, searching for `foo` will find `The foo function`, but it won't find `foo(arg1)`.
  - require: './lunr-tokenizer'
  - require: '@antora/lunr-extension'
    index_latest_only: true
