site:
  title: Starknet documentation
  url: https://docs.starknet.io/
  start_page: ROOT::index.adoc
  keys:
    google_analytics: 'G-WY42TERK5P'
urls:
  html_extension_style: indexify

content:
  sources:
    - url: .
      branches: HEAD
      edit_url: 'https://github.com/starknet-io/starknet-docs/edit/main/{path}'
      start_paths:
        - components/Starknet

ui:
  bundle:
    url: https://github.com/starknet-io/starknet-docs-antora-ui/raw/HEAD/build/ui-bundle.zip
    snapshot: true

runtime:
  fetch: true

asciidoc:
  extensions:
    - '@asciidoctor/tabs'
  attributes:
    idprefix: ''
    #stem: '@'
    stem: 'latexmath'
    page-pagination: ''
    experimental: ''

antora:
  extensions:
    - require: './lunr-tokenizer'
    - require: '@antora/lunr-extension'
      index_latest_only: true

output:
  destinations:
    - provider: fs
      path: ./public_html/
      clean: true
