.features {
  display: flex;
  align-items: center;
  padding: 0 0 2rem;
  width: 100%;
}

html[data-theme='light'] .features {
  color: var(--cust-color-primary-darkest);
}

html[data-theme='dark'] .features {
  background-color: var(--ifm-navbar-background-color);
}

.featureSvg {
  height: 200px;
  width: 200px;
}

html[data-theme='dark'] .card {
  background-color: transparent;
  color: white;
}

.card:hover {
  color: var(--cust-color-primary-lightest); 
}

html[data-theme='dark'] .card:hover {
  background-color: var(--cust-color-primary);
}


:global(.homePageCardArrow),
:global(.homePageCardArrow) {
  color: var(--cust-color-primary);
}

.card:hover :global(.homePageCardArrow) {
  color: var(--cust-navbar-link-color);
}

.card:hover :global(.homePageCardImage) {
  filter: brightness(0) invert(1);
}