<footer class="footer">
  <div class="footerdiv">
    <p>© 2022 Lisk Foundation</p>
    <!-- <div class="community-section">
      <p class="community-section__text">Follow Lisk on: </p>
      <div class="community-section__icons"> -->
    <div class="community_icons">
        <a href="https://lisk.chat" title="Discord" target="_blank" class="footer_icon icon-discord"><p>Discord</p></a>
        <a href="https://dev.lisk.com" title="Discourse" target="_blank" class="footer_icon icon-discourse"><p>Discourse</p></a>
        <a href="https://github.com/LiskHQ" title="GitHub" target="_blank" class="footer_icon icon-github"><p>GitHub</p></a>
  <!--    </div> -->
    </div>
  </div>
</footer>
