<footer class="footer">
  <div class="footerdiv">
    <div class="footer-left">
      <a href="{{{or siteRootPath site.url}}}" class="starknet-logo desktop-only"></a>
       <div class="vertical-divider desktop-only"></div>
      <p>© 2023 Starknet</p>
    </div>
    <!-- <div class="community-section">
      <p class="community-section__text">Follow Lisk on: </p>
      <div class="community-section__icons"> -->
    <div class="community_icons">
        <a href="https://twitter.com/@Starknet" title="Twitter" target="_blank" class="footer_icon icon-twitter"><p>Twitter</p></a>
        <a href="https://starknet.io/discord" title="Discord" target="_blank" class="footer_icon icon-discord"><p>Discord</p></a>
        <a href="https://github.com/starkware-libs" title="GitHub" target="_blank" class="footer_icon icon-github"><p>GitHub</p></a>
        <a href="https://www.youtube.com/@starkware_ltd/" title="YouTube" target="_blank" class="footer_icon icon-youtube"><p>YouTube</p></a>
  <!--    </div> -->
    </div>
  </div>
</footer>
