<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="top-logo">
        <a href="{{{or siteRootPath site.url}}}" class="starknet-logo"></a>
        <a href="{{{or siteRootPath site.url}}}" class="docs-logo">Docs</a>
      </div>
      <!--<a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>-->
      {{#if env.ALGOLIA_API_KEY}}
      <div id="docsearch" class="navbar-menu search-box hide-for-print">
        <!--<input id="search-input-toolbar" type="text" placeholder="Search me ...">-->
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <a class="navbar-link" href="https://starknet.io/" target="_blank">Starknet Home</a>
        </div>
        <div class="navbar-item">
          <a class="navbar-link" href="https://starknet.io/building-on-starknet/tutorials/" target="_blank">Tutorials</a>
        </div>
        <div class="theme-toggle-container">
          <button onclick="switch_style('toggle')" id="theme-toggle" class="theme-toggle navbar-item"></button>
          <p class="dark-mode-label">Dark Mode</p>
          <p class="light-mode-label">Light Mode</p>
        </div>
      </div>
    </div>
  </nav>
</header>