{{#with site.components}}
  <div class="page-components">
    <button class="component-menu-toggle" title="Show other documentations">{{@root.page.component.title}}</button>
    <div class="component-menu">
      {{#each this}}
        <a class="component
      {{~#if (eq ./title @root.page.component.title)}} is-current{{/if~}}
          {{~#if ./missing}} is-missing{{/if}}" href="{{{relativize ./url}}}">{{./title}}</a>
      {{/each}}
    </div>
  </div>
{{/with}}
