@media screen and (min-width: 1024px) {
    .aa-Panel {
        max-width: min(600px, 90%) !important;
        right: unset !important;
        position: fixed !important;
        top: 100px !important;
        z-index: 100 !important;
        left: 200px !important;
        font-family: 'Inter';
    }
}

.hit-name {
    margin-bottom: 20px;
}

.hit-description {
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
}
