/* @media screen and (min-width: 1024px) {
  .navbar-end .navbar-link,
  .navbar-end > .navbar-item {
    color: var(--color-black);
  }
} */

.DocSearch-Button {
  background: var(--color-white);
  background-position: 1em;
  background-repeat: no-repeat;
  border: 1px solid var(--color-platinum-gray);
  border-radius: 53px;
}

.DocSearch-Button-Container .DocSearch-Search-Icon {
  color: var(--docsearch-muted-color);
}

.navbar {
  background: var(--color-white);
}

.navbar-end .navbar-item .navbar-dropdown {
  border-top: 1px solid var(--navbar-menu-border-color);
}

.navbar-end .navbar-item.has-dropdown:hover .navbar-link {
  border-left: 1px solid var(--navbar-menu-border-color);
  border-top: 1px solid var(--navbar-menu-border-color);
  border-right: 1px solid var(--navbar-menu-border-color);
}

.doc .sidebarblock.overview-box {
  border: 1px solid var(--color-silver-gray);
}

.navbar-brand .navbar-item:first-child {
  color: var(--color-black);
}

.starknet-logo {
  background-image: url(../img/starknet-logo-dark.svg);
}

.toolbar {
  background-color: var(--color-white);
  border-top: 1px solid #dfe6f2;
}

.theme-toggle {
  background-image: url(../img/moon.svg);
  background-color: var(--color-white);
}

/* .theme-toggle:hover {
  background-image: url(../img/moon-filled.svg);
} */

.navbar-burger span {
  background-color: var(--color-zodiac-blue);
}

.nav-toggle {
  background: url(../img/collapse-icon-outlined.svg) no-repeat 50% 47.5%;
}

.nav-toggle:not(.is-active):hover {
  background-image: url(../img/collapse-icon-filled.svg);
}

.nav-item-toggle {
  background: transparent url(../img/chevron-right.svg) no-repeat center / 35%;
}

.nav {
  border-right: 1px solid var(--color-platinum-gray);
}

.nav-panel-explore .component .version a {
  border: 1px solid var(--color-silver-gray);
  color: var(--color-blue-gray);
}

.nav-panel-explore .context:hover {
  color: var(--color-ultramarine-blue);
  background-color: var(--color-athens-white);
}

.doc h3:not(.discrete),
.doc h4:not(.discrete) {
  color: var(--color-zodiac-blue);
}

.doc .sidebarblock {
  background-color: var(--color-platinum-gray);
}

.doc .imageblock {
  border: var(--color-platinum-gray) 1px solid;
}

.doc .colist > table code,
.doc p code,
.doc thead code {
  background-color: var(--color-platinum-gray);
}

pre {
  background-color: var(--color-platinum-gray);
}

footer.footer {
  border-top: 1px solid var(--color-platinum-gray);
}

.doc details {
  border: 1px solid var(--color-platinum-gray);
}

.doc table.tableblock {
  box-shadow: 0 0 0 1px var(--color-silver-gray);
}

.doc table.tableblock,
.doc table.tableblock > * > tr > * {
  border-color: var(--color-silver-gray);
}

.components-versions {
  border-right: 1px solid var(--color-platinum-gray);
}

#toc .sectlevel1 > li a {
  color: var(--color-ink-blue);
}

#toc .sectlevel1 > li a:visited {
  color: var(--color-ink-blue);
}

#toc {
  background-color: rgba(var(--rgb-silver-gray), 0.2);
  color: var(--color-ink-blue);
}

.icon-discourse {
  background-image: url(../img/discourse-logo-large.svg);
}

.icon-discord-2x,
.icon-discord {
  background-image: url(../img/icon-discord.svg);
}

.icon-github-2x,
.icon-github {
  background-image: url(../img/icon-gh.svg);
}

.doc details > summary::after {
  left: 0;
  background-image: url(../img/chevron-down.svg);
}

.doc details[open] > summary::after {
  background-image: url(../img/chevron-up-black.svg);
}
