@media screen and (max-width: 468.5px) {
  .algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
    width: calc(100vw - 8rem);
    /* height: 20rem; */
  }

  .footer_icon > p {
    display: none;
  }

  .footer > .community_icons {
    width: 10em;
  }
}

@media screen and (max-width: 700px) {
  .doc table.overview-table {
    display: flex;
  }

  .doc table.overview-table > * > tr {
    display: flex;
    flex-direction: column;
  }
}

.doc .sidebarblock > .content > .title {
  text-align: inherit;
  font-size: 1.15em;
}

.nav {
  height: calc(var(--nav-height--desktop) - 3.75em);
}

.toolbar-search {
  display: flex;
  align-items: center;
}

.overview-box .title {
  font-family: Inter, sans-serif;
  display: flex;
  align-items: flex-start;
}

.overview-box > .content {
  display: flex;
  flex-direction: row;
}

.doc .overview-box .image > img {
  max-width: unset;
  width: 2rem;
  padding-top: 2rem;
}

.doc .overview-box .overview-title {
  background-color: unset;
  border: none;
}

.doc .overview-box .overview-title content {
  flex-direction: column;
}

.overview-box .title a span {
  padding-right: 1.5em;
}

.doc .sidebarblock.overview-box {
  background-color: unset;
  border: 1px solid var(--color-silver-gray);
  padding-bottom: 2rem;
  padding-left: 2rem;
  min-height: 15rem;
}

.doc .overview-banner > .content > .title {
  font-size: 2em !important;
  font-family: 'Inter', sans-serif;
}

.doc table.tableblock.overview-table {
  box-shadow: none !important;
}

.doc table.overview-table > * > tr > * {
  border: none;
}

.nav-panel-menu {
  overflow-y: auto;
}

.is-current-page.parent > span,
.is-current-page:not(.parent) {
  background: rgba(var(--rgb-ultramarine-blue), 0.1);
  padding: 0.5em 0 0.5em 1em;
}

.is-current-page.parent > span {
  display: flex;
}

.is-current-page.parent > span > a,
.is-current-page > .nav-link {
  color: var(--color-ultramarine-blue);
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  .toolbar {
    padding: 0 2em 0 1.5em;
  }

  main > .content {
    justify-content: center;
  }

  .navbar-end > .navbar-item {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .navbar {
    padding: 2em 2em 2em 1.5em;
    z-index: 11;
  }

  .navbar-brand {
    padding-left: unset;
    align-items: center;
  }

  .navbar-item.is-hoverable:hover .navbar-dropdown {
    top: 33px;
    z-index: 3;
  }

  .nav {
    top: calc(var(--navbar-height) + var(--toolbar-height));
  }

  .nav-panel-explore .context {
    padding: 0.5em 1.5em;
  }

  .components-versions {
    width: calc(var(--nav-width) - 1.5em);
    height: 100%;
    align-items: center;
    display: inherit;
    padding: 0 1em 0 0;
    justify-content: space-between;
    border-right: 1px solid var(--color-platinum-gray);
  }

  .top-logo {
    padding-right: 9rem;
  }

  .navbar-link {
    padding-right: 1.5em;
  }

  .navbar-link::after {
    background-image: url(../img/chevron.svg);
    background-repeat: no-repeat;
    background-size: 0.7rem;
    background-position: center;
    border-style: none;
    transform: unset;
    -webkit-transform: unset;
    height: 1rem;
    width: 1rem;
    top: auto;
    right: 0.3em;
    align-self: end;
  }

  .toolbar-search {
    display: none;
  }

  .edit-this-page {
    display: flex;
  }

  .nav .nav-panel-explore {
    bottom: 0;
  }
}

.top-logo {
  display: flex;
  align-items: baseline;
}

.medium-zoom-image {
  z-index: 999;
}

.page-versions {
  margin: unset;
}

.page-versions .version-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: linear-gradient(to bottom, var(--page-version-menu-background) 0%, var(--page-version-menu-background) 100%) no-repeat;
  margin: 1.375rem 0.5rem 0 0;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  white-space: nowrap;
  min-width: unset;
}

.DocSearch-Button {
  font-weight: 400;
  padding-left: 1rem;
}

.search-box {
  padding-right: 2em;
  padding-left: 1em;
  width: 100%;
  align-self: start;
  height: 2.4rem;
}

.search-box .DocSearch-Button {
  border-radius: 20px;
  width: 100%;
}

.algolia-autocomplete {
  width: 100%;
  align-self: center;
  height: 2.5rem;
}

/*
#search-input-toolbar,
#search-input {
  background-image: url(../img/search-outlined.svg);
  background-position: 1em;
  background-repeat: no-repeat;
  color: #333;
  font-family: inherit;
  font-size: 0.95rem;
  width: 100%;
  height: 2.2rem;
  border: 1px solid #dbdbdb;
  line-height: 1.5;
  padding: 0 0.25em;
  text-align: start;
  border-radius: 53px;
  padding-left: 3em;
}
*/

.navbar-brand {
  align-items: center;
}

.navbar-item {
  padding: 0.5rem;
}

.navbar-link {
  padding: 0.5rem 1.5rem 0.5rem 0.7rem;
}

.lisk-logo {
  height: 2rem;
  background-image: url(../img/lisk-symbol.svg);
  background-repeat: no-repeat;
  width: 2rem;
}

.docs-logo {
  height: 1.5rem;
  width: 5.5rem;
  padding: 0.25rem;
  margin-left: 0.5rem;
  background-repeat: no-repeat;
}

.theme-toggle {
  background-repeat: no-repeat;
  background-position: center;
  align-self: start;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.5rem;
  border-style: none;
}

.theme-toggle.dark:hover {
  background-image: url(../img/moon.svg);
}

.pencil {
  background-image: url(../img/pencil.svg);
  background-repeat: no-repeat;
  height: 1rem;
  width: 1rem;
  padding: 0 1em;
  vertical-align: middle;
}

.home-link {
  background: url(../img/home-outlined.svg) no-repeat center;
}

.home-link:hover,
.home-link.is-current {
  background-image: url(../img/home-filled.svg);
}

.nav-toggle {
  margin-left: 1rem;
}

.nav-menu {
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.navbar-end .navbar-item .navbar-dropdown {
  padding-top: 0.8rem;
}

.navbar-end .navbar-item.has-dropdown,
.navbar-end .navbar-item.has-dropdown .navbar-link {
  box-sizing: border-box;
  border: 1px solid transparent;
  z-index: 4;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.navbar-end .navbar-item.has-dropdown:hover {
  border-bottom: unset !important;
  box-sizing: border-box;
  border-radius: 0.25rem 0.25rem 0 0;
}

.navbar-end .navbar-item.has-dropdown:hover .navbar-link::after {
  transform: rotate(180deg);
}

.edit-this-page:hover a {
  color: var(--color-ultramarine-blue);
  text-decoration: none;
}

.edit-this-page:hover .pencil {
  background-image: url(../img/pencil-filled.svg);
}

.nav-panel-explore {
  bottom: 3.5em;
}

.nav-panel-explore .component .version a {
  box-sizing: border-box;
  border-radius: 14.5px;
  text-decoration: none;
  opacity: 1;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 0.4em 1em 0.2em 1em;
}

.nav-panel-explore .component .version a:hover {
  border: 1px solid var(--color-ink-blue);
  color: var(--color-ink-blue);
}

.nav-panel-explore .component .version.is-current a,
.nav-panel-explore .component .version a:focus {
  background: var(--color-ink-blue);
  color: var(--color-white);
}

.nav-list > .nav-item[data-depth="1"] > span,
.nav-list > .nav-item[data-depth="1"] > a,
.nav-list > .parent[data-depth="1"] > span > a {
  text-transform: uppercase;
  border-radius: 25px;
}

.nav-panel-explore.is-active .context .version::after {
  transform: rotate(180deg);
  margin-left: 0.5em;
}

.nav-item-toggle {
  margin-left: -1.5em;
}

.nav-item.is-current-page > .nav-item-toggle {
  margin-top: 0.5em;
}

.nav-list {
  margin: 0 0 0 1rem;
}

.nav-item-toggle ~ .nav-list {
  margin-left: 0.5em;
}

.nav-item {
  padding-left: 0.8em;
  border-radius: 25px;
  margin-right: 0.2em;
}

.nav-list > .nav-item[data-depth="1"] {
  margin-top: 1em;
}

.nav-menu > .title {
  display: none;
}

.doc > h1.page:first-child {
  font-size: 1.75em;
  /* font-weight: 600; */
}

.doc h2 {
  font-size: 1.35em;
}

.doc h3 {
  font-size: 1.25em;
}

.doc h4 {
  font-size: 1.05em;
}

.doc h1,
.doc h2 {
  font-family: "Inter", "Roboto", sans-serif;
  line-height: 120%;
}

.doc h3:not(.discrete),
.doc h4:not(.discrete) {
  font-family: "Inter", "Roboto", sans-serif;
  line-height: 150%;
  font-weight: normal;
}

.doc {
  font-family: "Inter", "Roboto", sans-serif;
  max-width: var(--doc-max-width--desktop);
  padding: 0 1rem 2rem;
}

.doc .imageblock {
  border-radius: 20px;
}

.doc .imageblock .title {
  margin: unset;
}

.doc .admonitionblock .title,
.doc .exampleblock .title,
.doc .imageblock .title,
.doc .literalblock .title,
.doc .listingblock .title,
.doc .openblock .title,
.doc .tableblock caption {
  padding: 0.5em;
  font-size: calc(16 / var(--rem-base) * 1rem);
  font-style: unset;
}

.doc .listingblock pre:not(.highlight),
.doc .literalblock pre,
.doc pre.highlight,
.doc pre.highlight code {
  border-radius: 20px;
}

.doc a:hover {
  color: var(--link_hover-font-color);
  text-decoration: underline;
}

.doc .admonitionblock p,
.doc .admonitionblock .icon i,
.doc .admonitionblock td.content {
  font-size: 16px;
}

.doc .admonitionblock td.content {
  padding-top: 3rem;
  border-radius: 20px;
  opacity: 1;
}

.exampleblock,
.doc .listingblock {
  display: flex;
  flex-direction: column;
}

.exampleblock .title,
.doc .listingblock .title {
  display: flex;
  align-self: center;
}

nav.pagination {
  padding: 0.75rem 2rem 0;
}

nav.pagination a {
  font-weight: 400;
  font-size: 16px;
}

nav.pagination .next a::after {
  content: "";
  background-image: url(../img/chevron-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 1em;
  height: 1em;
}

nav.pagination .prev a::before {
  content: "";
  background-image: url(../img/chevron-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 1em;
  height: 1em;
}

/* Footer */

footer .footerdiv {
  padding: 0.5rem 2rem 0.5rem 1.5em;
  display: flex;
  flex: auto;
  justify-content: space-between;
}

footer.footer {
  position: sticky;
  bottom: 0;
  z-index: 10;
  display: flex;
  padding: unset;
}

.community_icons {
  display: flex;
  justify-content: space-between;
  width: 20em;
  align-items: center;
}

.footer_icon {
  display: flex;
  padding: 0 0 0 1.5rem;
  height: 16px;
  background-size: 1rem;
  background-repeat: no-repeat;
  align-items: center;
}

.icon-discord-2x {
  height: 2em;
  width: 2em;
}

.icon-github-2x {
  margin-left: 1em;
  height: 1.75em;
  width: 1.75em;
}

.doc details {
  margin-left: 0;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 20px;
}

.doc details summary {
  padding-left: 1.5rem;
}

.doc details.result {
  margin-top: 1rem;
}

.doc details.result > .content {
  margin: 0.5rem 0 0;
}

.doc details > summary::before {
  border: none;
  background-repeat: no-repeat;
}

.doc .admonitionblock.tip td.content {
  background: rgba(43, 214, 123, 0.07);
}

.doc .admonitionblock.note td.content {
  background: rgba(var(--rgb-ultramarine-blue), 0.07);
}

.doc .admonitionblock.important td.content {
  background: rgba(var(--rgb-copacabana-yellow), 0.07);
}

.doc .admonitionblock.caution td.content {
  background: rgba(var(--rgb-orange), 0.07);
}

.doc .admonitionblock.warning td.content {
  background: rgba(var(--rgb-fury-red), 0.07);
}

.doc .admonitionblock .icon {
  transform: unset;
  border-bottom-left-radius: unset;
  border-top-right-radius: unset;
  height: 2.3rem;
  padding: 0 1rem;
}

.doc .admonitionblock.tip .icon {
  background: rgba(var(--rgb-ufo-green), 1);
}

.doc .admonitionblock .icon i {
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 1.75em;
  text-transform: none;
  font-weight: 400;
}

.doc .admonitionblock.tip .icon i {
  background-image: url(../img/tip-outlined.svg);
}

.doc .admonitionblock.note .icon i {
  background-image: url(../img/pin-outlined.svg);
}

.doc .admonitionblock.important .icon i {
  background-image: url(../img/i-important-outlined.svg);
  color: var(--color-zodiac-blue);
}

.doc .admonitionblock.caution .icon i {
  background-image: url(../img/i-caution-outlined.svg);
}

.doc .admonitionblock.warning .icon i {
  background-image: url(../img/warning-outlined.svg);
}

.doc .admonitionblock.note .icon {
  background: rgba(var(--rgb-ultramarine-blue), 1);
}

.doc .admonitionblock.important .icon {
  background: rgba(var(--rgb-copacabana-yellow), 1);
}

.doc .admonitionblock.caution .icon {
  background: rgba(var(--rgb-orange), 1);
}

.doc .admonitionblock.warning .icon {
  background: rgba(var(--rgb-fury-red), 1);
}

.toc.sidebar .toc-menu ul {
  max-height: calc(100vh - 14rem);
}

#toc {
  border-radius: 20px;
  margin-top: 1.5rem;
}

#toctitle {
  font-family: Inter, Roboto, sans-serif;
  font-size: 29px;
  padding: 1.25rem 1.25rem 0;
}

#toc .sectlevel1 {
  font-weight: 450;
  list-style: none;
  padding: 0 1.25rem 1.25rem 1.25rem;
}

#toc .sectlevel1 > li {
  padding: 0.75rem 0 0;
  font-size: 16px;
}

#toc .sectlevel2 {
  font-weight: 400;
  padding-top: 0.5rem;
  list-style: disc;
}

.doc table.tableblock {
  border-collapse: collapse;
  border-radius: 20px;
  border-style: hidden;
}

.doc table.tableblock,
.doc table.tableblock > * > tr > * {
  border-radius: 20px;
}

.doc table.tableblock > * > tr > * {
  border-left-width: 0;
  border-right-width: 0;
}

.doc table.grid-all > thead th,
.doc table.grid-rows > thead th {
  padding: 0.5em 1em;
  border-bottom-width: 1px;
}
