:root {
  --navbar_hover-background: var(--color-zodiac-blue);
  /* base */
  --body-background: var(--color-zodiac-blue);
  --panel-background: var(--color-zodiac-blue);
  --panel-border-color: var(--color-second-blue);
  --scrollbar-thumb-color: var(--color-ink-blue);
  /* fonts */
  --body-font-color: var(--color-silver-gray);
  /* doc */
  --doc-font-color: var(--color-silver-gray);
  --example-border-color: var(--color-second-blue);
  --heading-font-color: var(--color-white);
  --link-font-color: var(--color-ultramarine-blue);
  --link_hover-font-color: var(--color-ultramarine-blue);
  --link_unresolved-font-color: var(--important-color);
  --caption-font-color: var(--color-ufo-green);
  --table-footer-background: linear-gradient(to bottom, var(--color-zodiac-blue) 0%, var(--color-black) 100%);
  /* navbar */
  --navbar-background: var(--color-zodiac-blue);
  --navbar-font-color: var(--color-jet-60);
  --navbar_hover-background: var(--color-zodiac-blue);
  --navbar-button-background: var(--color-zodiac-blue);
  --navbar-menu-background: var(--color-zodiac-blue);
  --navbar-menu-font-color: var(--body-font-color);
  --navbar-menu_hover-background: var(--color-second-blue);
  --burger-menu-fc: var(--color-white);
  /* toolbar */
  --toolbar-font-color: var(--color-silver-gray);
  --toolbar-muted-color: var(--color-silver-gray);
  --toolbar-border-color: var(--color-second-blue);
  --page-version-menu-background: var(--color-black);
  /* nav */
  --nav-background: var(--color-zodiac-blue);
  --nav-selected-bg: #211F1F;
  --nav-selected-fc: #FE9E92;
  --nav-secondary-background: var(--color-black);
  --nav-muted-color: var(--color-athens-white);
  --nav-panel-divider-color: var(--color-second-blue);
  --nav-heading-fc: var(--color-white);
  --nav-fc: var(--color-silver-gray);
  /*  footer  */
  --footer-background: var(--color-zodiac-blue);
  --footer-divider-background: #313131;
  --footer-font-color: var(--color-gray-60);
  --footer-link-font-color: var(--color-gray-60);
  /* docsearch */
  --docsearch-primary-color: #5468ff;
  --docsearch-spacing: 12px;
  --docsearch-icon-stroke-width: 1.4;
  --docsearch-highlight-color: var(--docsearch-primary-color);
  --docsearch-modal-width: 560px;
  --docsearch-modal-height: 600px;
  --docsearch-searchbox-height: 56px;
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);
  --docsearch-hit-height: 56px;
  --docsearch-hit-active-color: #fff;
  --docsearch-footer-height: 44px;
  /* dark */
  --docsearch-text-color: #f5f6f7;
  --docsearch-container-background: rgba(9, 10, 17, 0.8);
  --docsearch-modal-background: #15172a;
  --docsearch-modal-shadow: inset 1px 1px 0 0 #2c2e40, 0 3px 8px 0 #000309;
  --docsearch-searchbox-background: #090a11;
  --docsearch-searchbox-focus-background: #000;
  --docsearch-hit-color: #bec3c9;
  --docsearch-hit-shadow: none;
  --docsearch-hit-background: #090a11;
  --docsearch-key-gradient: linear-gradient(-26.5deg, #565872, #31355b);
  --docsearch-key-shadow: inset 0 -2px 0 0 #282d55, inset 0 0 1px 1px #51577d, 0 2px 2px 0 rgba(3, 4, 9, 0.3);
  --docsearch-footer-background: #1e2136;
  --docsearch-footer-shadow: inset 0 1px 0 0 rgba(73, 76, 106, 0.5), 0 -4px 8px 0 rgba(0, 0, 0, 0.2);
  --docsearch-logo-color: #fff;
  --docsearch-muted-color: var(--color-platinum-gray);

  /* breadcrumbs */
  --breadcrumbs-font-color: #7E7E7E;
}
