.vertical-separator-header {
  padding-top: 10px;
  font-size: 25pt;
  color: #e1e1e1;
  font-weight: 400

}

a.navbar-item:first-of-type{
/*      color: #191919;*/
      font-size: 1.1rem
}

.navbar-brand .navbar-item {
  /*color: #f6643c */
}

div.title {
  font-weight: 600
}

/*
.navbar {
  background: #fff;
}
*/
