.vertical-separator-header {
  padding-top: 10px;
  font-size: 25pt;
  color: #e1e1e1;
  font-weight: 400

}

a.navbar-item:first-of-type{
      color: #191919;
      font-size: 1.1rem
}

.navbar-brand .navbar-item {
  color: rgba(247,125,5,1.00)
}

div.title {
  font-weight: 600
}
