/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3850e9;
  --ifm-color-primary-dark: rgb(25, 45, 160);
  --ifm-color-primary-darker: rgb(14, 30, 122);
  --ifm-color-primary-darkest: rgb(3, 13, 79);
  --ifm-color-primary-light: rgb(126, 141, 238);
  --ifm-color-primary-lighter: rgb(170, 179, 239);
  --ifm-color-primary-lightest: rgb(243, 236, 247);
  --ifm-code-font-size: 95%;
  --ifm-container-width-xl: 1408px;
  /* NavBar */
  --ifm-navbar-background-color: rgb(24, 31, 48);
  --ifm-navbar-link-color: rgb(255, 255, 255);
  --ifm-navbar-link-hover-color: #f6643c;
  /* Footer */
  --ifm-footer-background-color: #f9fafb;
  --ifm-footer-link-color: var(--cust-color-primary-darkest);
  --ifm-footer-color: var(--cust-color-primary-darkest);
  /* Custom */
  --cust-color-primary: #f6643c;
  --cust-color-primary-dark: rgb(13, 15, 17);
  --cust-color-primary-darkest: rgb(16, 24, 40);
  --cust-color-primary-lightest: rgb(243, 236, 247);
}

.footer--dark {
  --ifm-footer-background-color: rgb(10, 15, 60);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

html[data-theme='dark'] .title_src-pages-index-module {
  color: white;
}

.footer__link-item svg {
  display: none;
}

.footer__copyright {
  font-size: 14px;
}

html[data-theme='dark'] .footer__copyright {
  color: #A0A0A0;
}
html[data-theme='dark'] .layout_src-pages-index-module {
  background-color: var(--ifm-navbar-background-color);
}


html[data-theme='dark'] .footer {
  background-color: var(--cust-color-primary-dark);
  color: white;
}

html[data-theme='dark'] .footer__link-item {
  color: white;
}

.footer__logo {
  max-width: 50px;
  height: auto;
}

html[data-theme='light'] .clean-btn {
  color: var(--ifm-navbar-link-color);
}
html[data-theme='light'] .menu__link {
  color: var(--ifm-color-gray-300);
}