/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3850e9;
  --ifm-color-primary-dark: rgb(25, 45, 160);
  --ifm-color-primary-darker: rgb(14, 30, 122);
  --ifm-color-primary-darkest: rgb(3, 13, 79);
  --ifm-color-primary-light: rgb(126, 141, 238);
  --ifm-color-primary-lighter: rgb(170, 179, 239);
  --ifm-color-primary-lightest: rgb(243, 236, 247);
  --ifm-code-font-size: 95%;
}

.footer--dark {
  --ifm-footer-background-color: rgb(10, 15, 60);
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
