name: Delete pull request preview workflow
on:
  pull_request:
    types:
      - closed

jobs:
  delete-site-preview:
    name: Delete Site Preview
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          node-version: 16
          ref: gh-pages
          USER_TOKEN: ${{ secrets.USER_TOKEN }}
      - name: Fetch all branches
        run: git fetch --all
      - name: Identify and remove preview build directory
        run: |
          PR_ID=pr-${{ github.event.pull_request.number }}
          PREVIEW_PATH=${PR_ID}
          git checkout gh-pages
          echo "Actual PREVIEW_PATH is $PREVIEW_PATH"
          echo "Contents of this directory: $(ls)\n"
          ls
          if [ -d $PREVIEW_PATH ]; then
            echo "rm -rf $PREVIEW_PATH"
            rm -rf $PREVIEW_PATH
            echo "git add ."
            git add .
            echo "git commit -m 'Delete preview build for PR $PR_ID after merging to master'"
            git commit -m "Delete preview build for PR $PR_ID after merging to master"
            echo "git push origin gh-pages"
            git push origin gh-pages
          fi
        env:
          USER_TOKEN: "${{ secrets.USER_TOKEN }}"
